#sec1 
{
    text-align: center;
    margin: 15px 15px;
    display: flex;
}

#sec1 img 
{
    height: auto;
    width: 800px;
    display: inline;
    margin: 0 15px;
    border-radius: 15px
}

#sec1 p {
    display: inline;
    margin: 0 15px;
    padding: 10px 5px;
    background-color: #FBC20B;
    border-radius: 15px;
}


@media only screen and (max-width:786px)
{
    #sec1 img 
    {
        height: auto;
        width: 600px;
        display: inline;
    }
}