body {
    /* Cannot find the fonts we selected */
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #e0e0e0;
}


/* -------------------- Header and Nav formatting -------------------- */
header {
    color: black;
    background-color: #e0e0e0;
    text-align: center;
    padding: 15px 0;
}

nav ul {
    background-color: #006096;
    padding: 15px;
}

nav ul li {
    display: inline;
    text-align: center;
    margin: auto 3%;
}

nav ul li a {
    text-decoration: none;
    background-color: #00b8aa;
    color: #ffff;
    border-radius: 5px;
    padding: 5px 15px;
}

/* Highlights under currently selected page */
.active {
    border-bottom: 6px solid #003632;
}

/* Image formatting */
.top {
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px 0;
}

.logo {
    height: auto;
    width: 90px;
    padding-left: 3%;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ------------------------------------------------------------ */

