.triangle {
    position: relative;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 40vw  solid transparent;
    border-right: 40vw solid transparent;
    border-bottom: 100px solid #006096;
    margin-bottom: 20px;
}

.rectangle {
    margin: auto;
    margin-top: 20px;
    width: 80vw;
    height: 30px;
    background-color: #006096;
    overflow: hidden;
}

.container {
    margin: auto;
    background-color: #ffffff;
    width: 800px;
    padding: 50px;
    position: relative;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 420px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background-color: #c0c0c0;
    transition: opacity .5s;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity:1;
}

.menu {
    position: absolute;    
    bottom: 0px;          
    left: 50%;             
    transform: translateX(-50%); 
    display: flex;
    gap: 10px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: #ffd700;
    text-decoration: none;
    background-color: #006096;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

#heading {
    font-family: sans-serif;
    position:absolute;
    top: 500%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap; 
}

.slider section h2 {
    text-align: center;
}

html, body {
    overflow-x: hidden;
}

@media only screen and (max-width:1100px) {


    #heading {
        position: absolute;
        white-space: normal;
        font-size: 15px;
    }

   
    .container {
        width: 95%;
        height: auto;
        min-height: auto;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    
    ul.slider {
        width: 100%;
        height: auto;
        min-height: 380px;
        overflow: auto;
    }

    ul.slider li {
        width: 100%;
        min-height: 450px;
    }

    
    .menu {
        bottom: -40px;
        gap: 5px;
    }

    .menu li a {
        width: 25px;
        height: 25px;
        font-size: 18px;
        padding: 6px;
    }

  
    .rectangle {
        margin-top: 45px;
       
    }

    
}
