/*Selects all elements and 
normalizes base styles across all browsers*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, sans-serif;
    background-color: #f2f2f2;
    color: #222;
}

header {
    text-align: center;
    background-color: #e0e0e0;
    color: black;
    padding: 20px 0;
    position: relative;
}

/* Logo and title container */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .logo {
    position:absolute;
    height: auto;
    width: 90px;
    margin-bottom: 10px;
    top: 15px;
    left: 20px;
}

.title {
    font-size: 1.6rem;
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: center; 
    background-color: #00b8aa;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    position: relative;
}

nav li a {
    display: block;
    padding: 12px 25px;
    color: #eee;
    text-decoration: none;
    border-left: 1px solid #f2f2f2;
    border-right: 1px solid #f2f2f2;
}

nav li a:hover,
nav li a.active {
    background-color: #003632;
}

nav li:first-child a {
    border-left: none;
}
nav li.last a {
    border-right: none;
}

/* submenu (drop down menu in nav bar) */
nav ul ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #00b8aa;
    width: 220px;
    border-top: 2px solid #f2f2f2;
    z-index: 1000;
    flex-direction: column;
}

nav ul ul li {
    float: none;
    width: 100%;
}

/* Links inside submenu */
nav ul ul a {
    padding: 10px 15px;
    border: none;
    font-size: 14px;
}

nav ul ul a:hover {
    background-color: #003632;
}

/* Show submenu when passing the mouse over it */
.no-js nav li:hover ul,
nav li:hover > ul {
    display: block;
}

footer {
    text-align: center;
    background-color: #006096;
    color: white;
    padding: 15px;
    margin-top: 30px;
}

footer .logo {
    max-width: 100px;
    margin-bottom: 8px;
}

footer div img {
    background-color: #ffff;
    padding: 8px;
    border-radius: 6px;
}
