.hub-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hub-main article {
  width: 25%;
  background-color: #00b8aa;
  padding: 25px;
  margin-left: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

article img {
  height: auto;
  width: 75%;
  border-radius: 20px;
}

.active-goal {
  height: 500px;
  font-size: larger;
}

.active-goal img {
  height: auto;
  width: 95%;
  border-radius: 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
