#title{
    font-style:italic;
    /* font-family:'Times New Roman', Times, serif; */
    font-weight:bold;
    text-decoration:underline;
}

#homeImage{
    width:500px;
    height:300px;
    display:flex;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

#textBox{
    width:600px;
    height:600px;
    box-sizing:border-box;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:auto;
    background-color: lightblue;
    opacity: 80%;
    border: 2px solid dodgerblue;
    border-radius: 15px;
    font-style:normal;
    font-weight:normal;
    text-decoration: none;
    text-align:center;
    display:block;
}

#subheading{
    font-weight:bold;
    text-decoration:underline;
    font-style:italic;
    padding-bottom:20px;
}

#indexImage{
    width:300px;
    height:130px;
    padding-left:auto;
    padding-right:auto;
    padding-bottom:10px;
    justify-content: center;
}

#sectionContainer{
    margin-left:auto;
    margin-right:auto;
    padding-left:auto;
    padding-right:auto;
    justify-content: center;
    display:flex;
}

#pcontainer{
    justify-content:center;
    height:10px;
    text-align: center;
    display: block;
}