#title{
    font-style:italic;
    font-weight:bold;
    text-decoration:underline;
}

#homeImage{
    width:500px;
    height:300px;
    display:flex;
    padding-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

#textBox{
    width:600px;
    height:600px;
    box-sizing:border-box;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    background-color: lightblue;
    opacity: 80%;
    border: 2px solid dodgerblue;
    border-radius: 15px;
    font-style:normal;
    font-weight:normal;
    text-decoration: none;
    text-align:center;
    display:block;
}

#subheading{
    font-weight:bold;
    text-decoration:underline;
    font-style:italic;
    padding-bottom:20px;
}

#indexImage{
    width:300px;
    height:100px;
    padding-bottom:10px;
    justify-content: center;
    margin-top:2%;
}

#sectionContainer{
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    display:flex;
}

#pcontainer{
    justify-content:center;
    height:10px;
    text-align: center;
    display: block;
}

@media only screen and (max-width:1000px){
    #sectionContainer{
        display:block;
        align-items: center;
        width:75%;
        height:75%;
    }
    #textBox{
        width:75%;
        height:75%;
        overflow:hidden;
        margin-left:13%;
        text-align: center;
    }
    #pcontainer{
        width:100%;
        height:75%;
        overflow:hidden;
    }
    #indexImage{
        width:50%;
        height:100%;
    }
    #homeImage{
        width:75%;
        height:75%;
    }
}